h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: right;
}

.images {
  display: inline-block;
}

.right {
  float: left;
}

.tile-image {
  width: 200px;
  height: 200px;
}